doctype html
html
    head
        meta(charset="utf-8")
        title test

        link(rel="stylesheet" href="./style/entry/index.css")
    body
        test

        script(src="./script/entry/index.js")
